---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca del sitio">
  <h1>About</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos alias deserunt totam doloremque minima assumenda, enim voluptas nesciunt repudiandae libero. Deserunt expedita, iure tempore eius amet maiores culpa quam voluptatum!</p>
</Layout>